@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;

  &__success {
    color: $green;

    svg > path {
      fill: $green;
    }
  }
  &__failure {
    color: $orange;
    svg > path {
      fill: $orange;
    }
  }
  &__warning {
    color: $red;
    svg > path {
      fill: $red;
    }
  }

  &__icon {
    max-width: 40%;
  }

  &__text__title {
    @include header2(1);
  }
  &__text__subtitle {
    @include header3(1);
  }

  &__text__title,
  &__text__subtitle {
    font-family: "Montserrat", sans-serif;
    color: inherit;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 0.15em;
  }
}
