@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.container {
  padding: 35px;
  @include box-shadow-small;
  background: $grey-light;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
