@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.page {
  @include pageWrapper;
  height: fit-content;

  &__content {
    width: 100%;
    max-width: 1475px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
