@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

@mixin centerText {
  text-align: center;
  width: 100%;
  text-wrap: balance;
}

.top {
  gap: 4px;

  &__title {
    @include header2();
    @include centerText();
  }
  &__text {
    @include header4();
    @include centerText();
    margin: 15px 0;
    &__premium {
      @include header4();
      @include centerText();

      &__bait {
        color: $orange;
      }
    }
  }
}
