@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include grid;
  transition: $transition-fast;
  height: fit-content;

  &__workout {
    height: 0;
    width: 100%;

    &_active {
      height: 100%;
      min-height: fit-content;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    transition: $transition-fast;

    &__title {
      @include header2();
    }

    &__toggle {
      width: fit-content;
    }
  }
}
