@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;

  &__title {
    @include header2();
    line-height: 1;
  }

  &__inputs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 48px;
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
